<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>


    <h:form>
        <h:outputLabel for="menuName" value="Naam: "/> <p:inputText id="menuName" value="#{menu.name}"/>

        <div class="ingredientsSelect">
            <h:outputLabel for="ingredient" value="Ingredient: "/>
            <p:autoComplete id="ingredient" value="#{menuManager.ingredient}" completeMethod="#{menuManager.complete}"/>
            <p:commandButton value="Add" actionListener="#{menuManager.addIngredient}" update="list"/>
        </div>
        <p:dataList id="list" value="#{menuManager.ingredients}" var="ingredient" itemType="disc">
            #{ingredient}
        </p:dataList>
        <p:commandButton value="Wis lijst" actionListener="#{menuManager.clearList}" update="list"/>
    </h:form>


</h:body>
</html>